body{
    background: #cccc;
}
    #eu{
        background: gray;
        width:25px;
        height:25px;
        position:absolute;
        top:200px;
        left:250px;

/* Estilos para a nova seção de escolha de cor */
.shirt-choice-container {
    margin-top: 30px;
    text-align: center;
    color: white;
}

.shirt-choice {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.shirt-choice img {
    width: 150px;
    height: auto;
    border: 2px solid transparent; /* Borda transparente por padrão */
}

.shirt-choice img:hover {
    border: 2px solid #C8102E; /* Borda destacada ao passar o mouse */
}

.shirt-radio-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.shirt-radio-group label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: white;
}

.shirt-radio-group input[type="radio"] {
    margin-top: 5px;
}

    }
